dorm.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "chat-trigger-id",
      "name": "Chat Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a professional software debugger. Use the Google Search tool to find exact error messages, GitHub issues, and StackOverflow answers. Provide a clear summary of the cause and a step-by-step fix."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [220, 0],
      "id": "ai-agent-id",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [160, 220],
      "id": "openrouter-id",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "your-credential-id",
          "name": "OpenRouter API Key"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolGoogleSearch",
      "typeVersion": 1,
      "position": [380, 220],
      "id": "google-search-tool-id",
      "name": "Google Search",
      "credentials": {
        "googleSearchApi": {
          "id": "your-google-id",
          "name": "Google Search API Key"
        }
      }
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}
